* {
  box-sizing: border-box;
  margin: 0%;
  user-select: none;
  /* border: 1px solid red; */
}
html {
  height: 100vh;
}
:root {
  --clr-main: #ffffff;
  --clr-accent: #ffc300;
  --fw-regular: 500;
  --fw-bold: 700;
  --ff-main: "IBM Plex Mono", monospace;
  --fs-header: 1rem;
  --fs-sub-header: 1.2rem;
  --fs-question: 1.3rem;
  --fs-answer: 1rem;
  --fs-btn: 0.5rem;
}
#root {
  margin: auto;
}
body {
  background-color: var(--clr-light);
  display: flex;
  height: 100vh;
  background-image: url(./images/endless-constellation.svg);
  color: var(--clr-main);
  font-family: var(--ff-main);
  font-weight: 400;
}
h1 {
  color: var(--clr-accent);
}
.container {
  margin: auto;
}
/* questionare */
.questionare {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--clr-fade);
  margin-top: 1em;
}
/* answers btns */
.answer {
  padding: 0.35em 1.8em;
  border: none;
  border-radius: 0.85em;
  font-weight: 400;
  font-size: var(--fs-answer);
  margin: 0.7em;
  font-family: var(--ff-main);
  margin-left: 0%;
}
.option {
  padding: 0.35em 1.8em;
  border: 1px solid var(--dark-blue);
  border-radius: 0.85em;
  font-weight: 400;
  font-size: var(--fs-answer);
  margin: 0.7em;
  font-family: var(--ff-main);
}

.loading-spinner {
  margin: auto;
  border: 10px solid #9ba3c9;
  border-radius: 50%;
  border-top: 10px solid #4d5b9e;
  width: 100px;
  height: 100px;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* options styles */
.selected {
  font-weight: 700;
  background-color: #ffc300;
}
.wrong {
  background-color: #e06a6a;
  color: #3f2f2f;
}
.right {
  background-color: #7de493;
  color: #504949;
}
.nothing {
  color: rgb(63, 63, 63);
}
/* btn styles */
.submit {
  background-color: #1eff30;
  transition: all 200ms ease-in-out;
  font-size: var(--fs-btns);
  font-weight: var(--fw-bold);
  border-radius: 0.5em;
  border: 0;
  color: #000000;
  padding: 0.5em 1.5em;
  margin: 1em;
  max-width: 300px;
}
.submit:hover {
  transform: scale(1.1);
}
/* intro section */
.intro {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro > * {
  margin: 1rem 0;
  padding: 1rem 0;
}
.intro-btn {
  width: 100%;
  font-size: 2rem;
  background-color: var(--clr-accent);
  color: #1a1a1a;
}
.intro__title {
  margin: 0;
}
.intro p {
  text-align: center;
}
/* categories */
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.categories--wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
}
.cutom-btn {
  width: 100%;
  max-width: 200px;
  background: var(--clr-accent);
}
/* //////////////////////////// */
.app {
  margin-inline: 1rem;
}
.option {
  transition: all 200ms ease-in-out;
}
.option:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
}
.answer:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
}
.score {
  padding-top: 1rem;
  color: rgb(255, 255, 255);
}
.score span {
  color: green;
}
.btn-score {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@keyframes wiggle {
  20% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}
